@import 'config';

@mixin btn {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    max-width: max-content;
    height: 7rem;
    border: none;
    border-radius: 3.5rem;
    padding: 0 5rem;
    background-color: transparent;

    @include titlefont;
    font-size: 2rem;
    font-weight: semi-bold;

    @include transition(all .25s ease);

    @include respond-to('tablet') {
        height: 5.5rem;
        padding: 0 3rem;
    }

    @include respond-to('mobile') {
        font-size: 1.8rem;
    }

    &:focus {
        border: none;
        outline: none;
    }
}

// Primary button has accent background and white text
.btn-primary {
    @include btn;
    z-index: 1;
    font-weight: bold;
    color: $text1;

    &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: inherit;
        background: $pink-gradient;
        @include transition(all .25s ease);
    }

    &.btn-shadow {
        &::before { 
            @include box-shadow(0 0 5rem 0 $accent);
        }
    }
}

// Secondary button has white background and background2 text
.btn-secondary {
    @include btn;
    z-index: 1;
    font-weight: bold;
    color: $background1;
    
    &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: inherit;
        background: $text1;
        @include transition(all .25s ease);
    }
}

.btn-primary,
.btn-secondary {
    &:not(:disabled) {
        &:hover {
            &::before {
                scale: 1.04;
            }
        }
        &:active {
            &::before {
                scale: .92;
            }
        }
    }
}

// Tertiary button has transparent background and body text (with optional arrow to the right)
.btn-tertiary {
    @include btn;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
    height: auto;
    padding: 0;
    font-weight: bold;
    background: transparent;
    color: $text1;

    svg {
        @include transition(all .25s ease);
    }
    &:not(:disabled) {
        &:hover {
            svg {
                translate: 1rem 0;
            }
        }
    }
}