@import '../scss/config';
@import '../scss/buttons';
@import '../scss/components';

.login-wrapper {
    padding: 25rem 0 13.5rem;

    .login-inner {
        align-items: center;
        width: min(85rem, 90vw);
        border: .25rem solid $background2;
        border-radius: 3.5rem;
        padding: 9rem;
        background-color: $background1;

        .text-heading {
            margin-bottom: 3rem;
        }

        form {
            width: min(40rem, 100%);

            .form-group {
                margin-bottom: 2rem;
                width: 100%;
    
                label {
                    display: block;
                    margin-bottom: .75rem;
                    padding-left: 1rem;
                }
    
                input {
                    border: .25rem solid transparent;
                    border-radius: 5rem;
                    outline: none;
                    padding: 1rem 2rem;
                    width: 100%;
                    background-color: $background2;
                    color: $text1;

                    @include transition(all .5s ease);

                    &:focus {
                        border-color: $accent-secondary;
                    }
                }

                a {
                    display: block;
                    width: 100%;
                    margin-right: 1rem;
                    font-size: 1.4rem;
                    text-align: right;
                    color: $accent;
                }
    
                &:last-child {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 5rem;
                    margin-bottom: 0;
    
                    .btn-primary {
                        align-self: flex-end;
                        margin-bottom: 8rem;
                    }
                }
            }
        }
        .text-body {
            a {
                font-weight: bold;
            }
        }
    }
    @include respond-to('tablet') {
        padding: 20rem 0 9.5rem;
    }
    @include respond-to('mobile') {
        padding: 17rem 0 6.5rem;
    }
}