@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
.text-title {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 0.9;
  font-size: 10rem;
  font-weight: bold;
}
@media (max-width: 1180px) {
  .text-title {
    font-size: 9rem;
  }
}
@media (max-width: 550px) {
  .text-title {
    font-size: 6.5rem;
  }
}

.text-heading {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 1.1;
  font-size: 5rem;
  font-weight: medium;
}
@media (max-width: 1180px) {
  .text-heading {
    font-size: 4.1rem;
  }
}
@media (max-width: 550px) {
  .text-heading {
    font-size: 3.2rem;
  }
}

.text-subheading {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 1.3;
  font-size: 3.5rem;
}
@media (max-width: 1180px) {
  .text-subheading {
    font-size: 2.8rem;
  }
}
@media (max-width: 550px) {
  .text-subheading {
    font-size: 2.2rem;
  }
}

.text-caption {
  font-family: "Manrope";
  letter-spacing: -0.015ch;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: medium;
  opacity: 1;
}

.text-body {
  font-family: "Manrope";
  letter-spacing: -0.015ch;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(244, 242, 239, 0.65);
}
.text-body.bold {
  font-weight: 600;
}
.text-body.accent {
  color: #BE4B76;
}
.text-body.accent::selection {
  background-color: #222222;
}

.text-title {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 0.9;
  font-size: 10rem;
  font-weight: bold;
}
@media (max-width: 1180px) {
  .text-title {
    font-size: 9rem;
  }
}
@media (max-width: 550px) {
  .text-title {
    font-size: 6.5rem;
  }
}

.text-heading {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 1.1;
  font-size: 5rem;
  font-weight: medium;
}
@media (max-width: 1180px) {
  .text-heading {
    font-size: 4.1rem;
  }
}
@media (max-width: 550px) {
  .text-heading {
    font-size: 3.2rem;
  }
}

.text-subheading {
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  line-height: 1.3;
  font-size: 3.5rem;
}
@media (max-width: 1180px) {
  .text-subheading {
    font-size: 2.8rem;
  }
}
@media (max-width: 550px) {
  .text-subheading {
    font-size: 2.2rem;
  }
}

.text-caption {
  font-family: "Manrope";
  letter-spacing: -0.015ch;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: medium;
  opacity: 1;
}

.text-body {
  font-family: "Manrope";
  letter-spacing: -0.015ch;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(244, 242, 239, 0.65);
}
.text-body.bold {
  font-weight: 600;
}
.text-body.accent {
  color: #BE4B76;
}
.text-body.accent::selection {
  background-color: #222222;
}

.btn-primary {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  max-width: max-content;
  height: 7rem;
  border: none;
  border-radius: 3.5rem;
  padding: 0 5rem;
  background-color: transparent;
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  font-size: 2rem;
  font-weight: semi-bold;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1;
  font-weight: bold;
  color: #F4F2EF;
}
@media (max-width: 850px) {
  .btn-primary {
    height: 5.5rem;
    padding: 0 3rem;
  }
}
@media (max-width: 550px) {
  .btn-primary {
    font-size: 1.8rem;
  }
}
.btn-primary:focus {
  border: none;
  outline: none;
}
.btn-primary::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(to right, #BE4B76, #FC466B);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btn-primary.btn-shadow::before {
  -webkit-box-shadow: 0 0 5rem 0 #BE4B76;
  -moz-box-shadow: 0 0 5rem 0 #BE4B76;
  -o-box-shadow: 0 0 5rem 0 #BE4B76;
  box-shadow: 0 0 5rem 0 #BE4B76;
}

.btn-secondary {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  max-width: max-content;
  height: 7rem;
  border: none;
  border-radius: 3.5rem;
  padding: 0 5rem;
  background-color: transparent;
  text-wrap: balance;
  font-family: "Syne";
  letter-spacing: -0.03ch;
  font-size: 2rem;
  font-weight: semi-bold;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1;
  font-weight: bold;
  color: #141414;
}
@media (max-width: 850px) {
  .btn-secondary {
    height: 5.5rem;
    padding: 0 3rem;
  }
}
@media (max-width: 550px) {
  .btn-secondary {
    font-size: 1.8rem;
  }
}
.btn-secondary:focus {
  border: none;
  outline: none;
}
.btn-secondary::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: #F4F2EF;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-primary:not(:disabled):hover::before,
.btn-secondary:not(:disabled):hover::before {
  scale: 1.04;
}
.btn-primary:not(:disabled):active::before,
.btn-secondary:not(:disabled):active::before {
  scale: 0.92;
}

.section-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.generic-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.generic-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.button-bar.auto {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.button-bar.auto .btn-primary,
.button-bar.auto .btn-secondary {
  max-width: 100%;
}

.consent-wrapper {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  border-top: 0.2rem solid #F4F2EF;
  padding: 4rem;
  background-color: #222222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  translate: 0 0;
}
.consent-wrapper.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  translate: 0 1.25rem;
}
.consent-wrapper.hidden.first-load {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
@media (max-width: 850px) {
  .consent-wrapper {
    flex-direction: column;
  }
  .consent-wrapper .button-bar {
    align-self: center;
  }
}

.navigation-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 13rem;
  padding-top: 3rem;
  color: #F4F2EF;
  translate: 0 -50%;
  opacity: 0;
  animation: fadeDown 1s ease 0.25s forwards;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation-wrapper.hidden {
  transform: translateY(calc(-100% - 0.5rem));
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    translate: 0 -50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
.navigation-wrapper .navigation-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: min(1440px, 90vw);
  border: 0.25rem solid #222222;
  border-radius: 10rem;
  padding: 1rem;
  background-color: #141414;
}
.navigation-wrapper .navigation-inner .logo {
  display: grid;
  place-items: center;
  min-width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  background-color: #222222;
}
.navigation-wrapper .navigation-inner .logo img {
  right: -0.25rem;
  width: 3.5rem;
  aspect-ratio: 1;
}
.navigation-wrapper .navigation-inner .navigation {
  justify-content: center;
  gap: 5rem;
  margin-left: 2.5rem;
  color: inherit;
}
.navigation-wrapper .navigation-inner .navigation li {
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.navigation-wrapper .navigation-inner .navigation li:hover, .navigation-wrapper .navigation-inner .navigation li:focus,
.navigation-wrapper .navigation-inner .navigation li a:focus {
  border: none;
  outline: none;
  color: #BE4B76;
}
.navigation-wrapper .navigation-inner .btn-primary {
  margin-right: 0.5rem;
}
.navigation-wrapper .mobile-menu-button {
  display: none;
}
.navigation-wrapper .popup-menu {
  display: none;
  width: 100dvw;
  height: 100dvh;
  translate: -5vw -15%;
}
@media (max-width: 850px) {
  .navigation-wrapper {
    height: calc(10rem + 2.5dvw);
    padding: 2.5dvw 5dvw 0 5dvw;
  }
  .navigation-wrapper .navigation-inner .logo {
    min-width: 6rem;
    height: 6rem;
  }
  .navigation-wrapper .navigation-inner .logo img {
    width: 2.5rem;
  }
  .navigation-wrapper .navigation-inner .btn-primary {
    margin: 0;
  }
  .navigation-wrapper .navigation-inner .navigation, .navigation-wrapper .navigation-inner > .li {
    display: none;
  }
  .navigation-wrapper .mobile-menu-button {
    display: block;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    padding: 2rem 1.75rem;
    background-color: #141414;
  }
  .navigation-wrapper .mobile-menu-button span {
    width: 100%;
  }
  .navigation-wrapper .mobile-menu-button .check {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 6rem;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ span {
    width: 100%;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ span:nth-of-type(1) {
    translate: 0 0.9rem;
    rotate: -45deg;
    -webkit-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    -moz-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    -o-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ span:nth-of-type(2) {
    width: 0;
    -webkit-transition: width 0.25s ease 0.25s;
    -moz-transition: width 0.25s ease 0.25s;
    -o-transition: width 0.25s ease 0.25s;
    transition: width 0.25s ease 0.25s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ span:nth-of-type(3) {
    translate: 0 -0.9rem;
    rotate: 45deg;
    -webkit-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    -moz-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    -o-transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
    transition: translate 0.25s ease, rotate 0.25s ease 0.25s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu {
    pointer-events: all;
    top: calc(-2.5dvw - 1rem);
    width: 100dvw;
    height: 100dvh;
    opacity: 1;
    translate: -5vw 0;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul {
    translate: 0 -25%;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul li {
    opacity: 1;
    translate: 0 0;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul li:nth-of-type(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul li:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul li:nth-of-type(3) {
    -webkit-transition-delay: 0.175s;
    -moz-transition-delay: 0.175s;
    -ms-transition-delay: 0.175s;
    transition-delay: 0.175s;
  }
  .navigation-wrapper .mobile-menu-button .check:checked ~ .popup-menu ul li:nth-of-type(4) {
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  .navigation-wrapper .mobile-menu-button span {
    pointer-events: none;
    width: 100%;
    height: 0.2rem;
    border-radius: 10rem;
    background-color: #F4F2EF;
    -webkit-transition: width 0.25s ease 0.25s, translate 0.25s ease 0.25s, rotate 0.25s ease;
    -moz-transition: width 0.25s ease 0.25s, translate 0.25s ease 0.25s, rotate 0.25s ease;
    -o-transition: width 0.25s ease 0.25s, translate 0.25s ease 0.25s, rotate 0.25s ease;
    transition: width 0.25s ease 0.25s, translate 0.25s ease 0.25s, rotate 0.25s ease;
  }
  .navigation-wrapper .mobile-menu-button span:nth-of-type(2) {
    width: 75%;
    margin: 0 auto;
  }
  .navigation-wrapper .mobile-menu-button .popup-menu {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    padding: 4.5rem 6rem;
    background-color: #222222;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .navigation-wrapper .mobile-menu-button .popup-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .navigation-wrapper .mobile-menu-button .popup-menu ul li {
    translate: 0 -1.5rem;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
  }
  .navigation-wrapper .mobile-menu-button .popup-menu .btn-wrapper {
    opacity: 0;
    translate: 0 -1.5rem;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
  }
}

.banner-inner {
  align-items: center;
  gap: 2rem;
  width: min(1440px, 90vw);
  min-height: 80dvh;
  padding: 25rem 0 15rem;
  text-align: center;
}
.banner-inner .text-caption {
  display: grid;
  place-items: center;
  width: 12rem;
  height: 3rem;
  border: 0.2rem solid #222222;
  border-radius: 3rem;
  background-color: #141414;
  color: rgba(244, 242, 239, 0.65);
}
.banner-inner .text-title {
  margin-bottom: 1rem;
}
.banner-inner .text-body {
  width: min(80vw, 55rem);
  margin-bottom: 3rem;
  opacity: 0;
  animation: fade-in 1s ease forwards 0.75s;
}
.banner-inner .text-body span {
  font-weight: bold;
}
.banner-inner .button-bar {
  opacity: 0;
  translate: 0 50%;
  animation: fade-slide-up 1s ease forwards 1.25s;
}
.banner-inner .lottie-animation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 9rem;
  opacity: 0;
  animation: fade-in 2s ease forwards 2.5s;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: translateY(0);
  translate: -50% 0;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow:nth-child(1) {
  animation: lottie-animation 3s ease-in-out infinite;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow:nth-child(2) {
  animation: lottie-animation 3s ease-in-out infinite 1s;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow:nth-child(3) {
  animation: lottie-animation 3s ease-in-out infinite 2s;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow span {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #F4F2EF;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow span:nth-child(1) {
  translate: 0.475rem 0;
  rotate: 35deg;
}
.banner-inner .lottie-animation-wrapper .lottie-arrow span:nth-child(2) {
  translate: -0.475rem 0;
  rotate: -35deg;
}
@keyframes lottie-animation {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
    scale: 0.5;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(3rem);
    opacity: 0;
    scale: 0.5;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1180px) {
  .banner-inner {
    padding-top: 20rem;
    padding-bottom: 12rem;
  }
  .banner-inner .text-caption {
    display: none;
  }
  .banner-inner .lottie-animation-wrapper {
    margin-top: 6rem;
  }
}
@media (max-width: 550px) {
  .banner-inner {
    min-height: 60dvh;
    padding-bottom: 9rem;
  }
  .banner-inner .lottie-animation-wrapper {
    margin-top: 4rem;
  }
}

.presentation-wrapper {
  padding: 6rem 3rem 0;
}
.presentation-wrapper .presentation-shadow {
  user-select: none;
  position: absolute;
  z-index: -1;
  top: -32rem;
  left: 50%;
  width: 64rem;
  aspect-ratio: 1;
  border-radius: 50%;
  translate: -50% 0;
  background-color: #222222;
  filter: blur(3rem);
}
.presentation-wrapper .presentation-inner {
  width: min(1440px, 90vw);
  gap: 5rem;
}
.presentation-wrapper .presentation-inner .presentation-header .text-body {
  width: 50rem;
}
.presentation-wrapper .presentation-inner .presentation-cards {
  gap: 3rem;
  margin-bottom: 38rem;
}
.presentation-wrapper .presentation-inner .presentation-cards .card {
  justify-content: center;
  width: min(100%, 47rem);
  height: 100%;
  border: 0.25rem solid #222222;
  border-radius: 3.5rem;
  padding: 6rem 4rem 3.5rem;
  background-color: #141414;
}
.presentation-wrapper .presentation-inner .presentation-cards .card:nth-child(2) {
  border: none;
  background: linear-gradient(to right, #BE4B76, #FC466B);
}
.presentation-wrapper .presentation-inner .presentation-cards .card:nth-child(2)::before {
  bottom: -13.5rem;
  left: 0;
  border: none;
  border-bottom-right-radius: 0.75rem;
  background: linear-gradient(to right, #BE4B76, #FC466B);
  background-size: calc(100% + 17rem - 0.5rem) 100%;
}
.presentation-wrapper .presentation-inner .presentation-cards .card:nth-child(2) img {
  bottom: -13.52rem;
  right: 0;
}
.presentation-wrapper .presentation-inner .presentation-cards .card::before {
  user-select: none;
  content: " ";
  position: absolute;
  bottom: -13.75rem;
  left: -0.25rem;
  width: calc(100% - 17rem + 0.75rem);
  height: 17rem;
  border-bottom: 0.25rem solid #222222;
  border-left: 0.25rem solid #222222;
  border-bottom-left-radius: 3.5rem;
  background-color: #141414;
}
.presentation-wrapper .presentation-inner .presentation-cards .card img {
  user-select: none;
  position: absolute;
  bottom: -13.75rem;
  right: -0.25rem;
  width: 17rem;
  height: 20.5rem;
}
@media (max-width: 1180px) {
  .presentation-wrapper .presentation-inner .presentation-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 60rem;
    margin: 0 auto 5rem;
  }
  .presentation-wrapper .presentation-inner .presentation-header .text-heading {
    text-align: center;
  }
  .presentation-wrapper .presentation-inner .presentation-header .text-body {
    width: 100%;
    text-align: center;
  }
  .presentation-wrapper .presentation-inner .presentation-cards {
    flex-direction: column;
    align-items: center;
    gap: 21rem;
  }
  .presentation-wrapper .presentation-inner .presentation-cards .card {
    padding-bottom: 7rem;
  }
}
@media (max-width: 550px) {
  .presentation-wrapper .presentation-inner .presentation-header {
    width: 80vw;
  }
}

.github-main-page-wrapper {
  padding: 21rem 0;
}
.github-main-page-wrapper .github-main-page-inner {
  width: min(85rem, 90vw);
  border: 0.25rem solid #BE4B76;
  border-radius: 2.5rem;
  padding: 9rem;
  background-color: #141414;
}
.github-main-page-wrapper .github-main-page-inner .github-shadow {
  user-select: none;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 64rem;
  aspect-ratio: 1;
  border-radius: 50%;
  translate: 50% 30%;
  background-color: #222222;
  filter: blur(3rem);
}
.github-main-page-wrapper .github-main-page-inner .text-heading {
  margin-bottom: 2rem;
}
.github-main-page-wrapper .github-main-page-inner .text-body {
  width: min(48rem, 100%);
  margin: 0 auto;
}
.github-main-page-wrapper .github-main-page-inner .btn-primary {
  align-self: center;
  display: grid;
  place-items: center;
  margin-top: 3rem;
  width: 11rem;
  height: 11rem;
  border-radius: 11rem;
  padding: 0 2.25rem;
}
.github-main-page-wrapper .github-main-page-inner .btn-primary img {
  width: 6.5rem;
}
@media (max-width: 850px) {
  .github-main-page-wrapper {
    padding: 18rem 0;
  }
  .github-main-page-wrapper .github-main-page-inner {
    padding: 8rem;
  }
}
@media (max-width: 550px) {
  .github-main-page-wrapper {
    padding: 15rem 0;
  }
  .github-main-page-wrapper .github-main-page-inner {
    padding: 7rem 5.5rem;
  }
  .github-main-page-wrapper .github-main-page-inner .btn-primary {
    scale: 0.9;
  }
}

.main-page-login-wrapper .main-page-login-inner {
  width: min(1440px, 90vw);
}
.main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  width: 100%;
  aspect-ratio: 16/7;
  margin-top: 4rem;
}
.main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card {
  width: 100%;
  height: 100%;
  gap: 3rem;
}
.main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #222222;
}
.main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .card-details {
  width: 100%;
  height: auto;
  border: 0.25rem solid #222222;
  border-radius: 100rem;
  padding: 2.5rem;
  padding-left: 4rem;
}
@media (max-width: 1180px) {
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    aspect-ratio: auto;
    gap: 8rem;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card {
    flex-direction: row;
    align-items: center;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .image {
    min-height: 30rem;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .card-details {
    flex-direction: column;
    gap: 3rem;
    width: auto;
    border: none;
    padding: none;
  }
}
@media (max-width: 850px) {
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic {
    gap: 10rem;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card {
    flex-direction: column;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .image {
    max-width: 50rem;
    min-height: 0;
    aspect-ratio: 4/3;
    margin: 0 auto;
  }
  .main-page-login-wrapper .main-page-login-inner .main-page-login-mosaic .card .card-details {
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    border: 0.25rem solid #222222;
    border-radius: 100rem;
    padding: 2.5rem;
    padding-left: 4rem;
  }
}
.footer-wrapper {
  padding: 0 3rem 3rem;
}
.footer-wrapper .footer-inner {
  display: grid;
  place-items: center;
  width: min(1440px, 90vw);
  height: 30rem;
  border: 0.25rem solid #222222;
  border-radius: 3.5rem;
  padding: 6rem;
  background-color: #141414;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}
html *,
html *::before,
html *::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
  color: inherit;
}
html ::-webkit-scrollbar {
  width: 1.4rem;
}
@media (max-width: 1180px) {
  html ::-webkit-scrollbar {
    display: none;
  }
}
html ::-webkit-scrollbar-track {
  background-color: #141414;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #222222;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html body {
  width: 100%;
  overflow-x: hidden;
  background-color: #141414;
  background-image: radial-gradient(rgba(244, 242, 239, 0.2) 5%, transparent 0);
  background-size: 40px 40px;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #F4F2EF;
}
html body .animateOnScroll.show {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
html body .animateOnScroll.show.onScrollD0 {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
html body .animateOnScroll.show.onScrollD1 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
html body .animateOnScroll.show.onScrollD2 {
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
html body .animateOnScroll.show.onScrollD3 {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
html body .animateOnScroll.show.onScrollD4 {
  -webkit-transition-delay: 1.25s;
  -moz-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
}
html body .animateOnScroll.show.onScrollD5 {
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
html body .animateOnScroll.show.onScrollD6 {
  -webkit-transition-delay: 1.75s;
  -moz-transition-delay: 1.75s;
  -ms-transition-delay: 1.75s;
  transition-delay: 1.75s;
}
html body .animateOnScroll.show.onScrollD7 {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
}
html body .animateOnScroll.onScrollFadeIn {
  opacity: 0;
}
html body .animateOnScroll.onScrollFadeIn.show {
  opacity: 1;
}
html body .animateOnScroll.onScrollFadeUp {
  opacity: 0;
  translate: 0 50%;
}
html body .animateOnScroll.onScrollFadeUp.show {
  opacity: 1;
  translate: 0 0;
}
html body .animateOnScroll.onScrollFadeDown {
  opacity: 0;
  translate: 0 -50%;
}
html body .animateOnScroll.onScrollFadeDown.show {
  opacity: 1;
  translate: 0 0;
}

::selection {
  background-color: #BE4B76;
}
