.footer-wrapper {
    padding: 0 3rem 3rem;

    .footer-inner {
        display: grid;
        place-items: center;
        width: $inner-width;
        height: 30rem;
        border: .25rem solid $background2;
        border-radius: 3.5rem;
        padding: 6rem;
        background-color: $background1;
    }
}