.github-main-page-wrapper {
    padding: 21rem 0;

    .github-main-page-inner {
        width: min(85rem, 90vw);
        border: .25rem solid $accent;
        border-radius: 2.5rem;
        padding: 9rem;
        background-color: $background1;

        .github-shadow {
            user-select: none;
            position: absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
            width: 64rem;
            aspect-ratio: 1;
            border-radius: 50%;
            translate: 50% 30%;
            background-color: $background2;
            filter: blur(3rem);
        }

        .text-heading {
            margin-bottom: 2rem;
        }

        .text-body {
            width: min(48rem, 100%);
            margin: 0 auto;
        }

        .btn-primary {
            align-self: center;
            display: grid;
            place-items: center;
            margin-top: 3rem;
            width: 11rem;
            height: 11rem;
            border-radius: 11rem;
            padding: 0 2.25rem;

            img {
                width: 6.5rem;
            }
        }
    }

    @include respond-to('tablet') {
        padding: 18rem 0;

        .github-main-page-inner {
            padding: 8rem;
        }
    }

    @include respond-to('mobile') {
        padding: 15rem 0;

        .github-main-page-inner {
            padding: 7rem 5.5rem;

            .btn-primary {
                scale: .9;
            }
        }
    }
}